/* $Id: */

form#islandora-solr-search-block-form select#edit-type1,
form#islandora-solr-search-block-form select#edit-type2,
form#islandora-solr-search-block-form select#edit-type3
{
  width:100%;
}

form#islandora-solr-search-block-form input#edit-fedora-terms1,
form#islandora-solr-search-block-form input#edit-fedora-terms2,
form#islandora-solr-search-block-form input#edit-fedora-terms3,
form#islandora-solr-simple-search-form input#edit-islandora-simple-search-query
{
  width:96%;
}

.islandora_solr_search_search_wrap
{
  padding-bottom: 1em;
}

.islandora_solr_search_facet_name,
.islandora_solr_search_facet_title
{
  font-weight:bold;
}

.islandora_solr_search_facets ul li 
{
  font-size:90%;
  line-height:1.3em;
}

img.islandora_solr_add_remove_link
{
  vertical-align: middle;
}

.islandora_solr_search_enabled_filters ul.filter_list li
{
  list-style: none inside none;
  padding: 0;
  background-image: none;
}
